<%provide(:title,'About')%>

<p class ="center">
    This will be a website that demonstrates a shopping cart functionality in rails once it is finshed. This example site was created by Jeremy C Red.
</p>