<%provide(:title,'Home')%>
<div class="center jumbotron">
    <%= image_tag("shoppingcart.jpg",size:'64x64',alt:'shopping cart')%>
    <h1>Welcome to the shopping cart example home page!</h1>
    <p>This will be a example of a shopping cart type website in rails.</p>
</div>