<footer class='footer'>
    <div class="container container-fluid center">
        <%= link_to  "Home", root_path %> | <%= link_to  "About", about_path %> | <%= link_to  "Contact", contact_path %> <p>Site version V 0.01.</p>
    </div>
</footer>